In [1]:
import DataCheck
import pandas as pd
import numpy as np 

file_name = '220809.xlsx'

raw = pd.read_excel(file_name)
dc = DataCheck.Ready(raw)

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
dc.safreq('SQ1')

## SQ1 MISSING CHECK
# All base
# No error
----------

In [3]:
dc.safreq('SQ2', only=range(15, 80))

## SQ2 MISSING CHECK
# All base
# No error
----------

## SQ2 ANSWER DATA CHECK
# Answer only in Range 15 THRU 80
# Only value check : No error
----------

In [4]:
dc.safreq('SQ3', only=range(3, 8))

## SQ3 MISSING CHECK
# All base
# No error
----------

## SQ3 ANSWER DATA CHECK
# Answer only in Range 3 THRU 8
# Only value check : No error
----------

In [5]:
ages = {
    3 : [26, 30],
    4 : [31, 35],
    5 : [36, 40],
    6 : [41, 45],
    7 : [46, 50],
    8 : [51, 55]
}
for key, rg in ages.items() :
    dc.logchk(raw.SQ2.between(rg[0], rg[1]), raw.SQ3==key)

## Puncing Logic Check
# Puching Logic correct
----------


## Puncing Logic Check
# Puching Logic correct
----------


## Puncing Logic Check
# Puching Logic correct
----------


## Puncing Logic Check
# Puching Logic correct
----------


## Puncing Logic Check
# Puching Logic correct
----------


## Puncing Logic Check
# Puching Logic correct
----------

In [6]:
dc.safreq('SQ4')

## SQ4 MISSING CHECK
# All base
# No error
----------

In [7]:
dc.safreq('SQ5')

## SQ5 MISSING CHECK
# All base
# No error
----------

In [8]:
dc.safreq('SQ6')

## SQ6 MISSING CHECK
# All base
# No error
----------

In [9]:
dc.safreq('SQ6_1', only=range(1, 99), cond=dc.df.SQ6==1)

## SQ6_1 MISSING CHECK
# Condition
# No error
----------

## SQ6_1 ANSWER DATA CHECK
# Answer only in Range 1 THRU 99
# Only value check : No error
----------

In [10]:
dc.df['child_age_check'] = dc.df['SQ2'] - 18

In [11]:
# validate. LIVE CHECK
dc.df[dc.df['child_age_check']<dc.df['SQ6_1']][['record', 'child_age_check', 'SQ6_1']]

    record  child_age_check  SQ6_1
0       31               16   92.0
3      352               27   93.0
5      630               37   85.0
6      733               29   71.0
8      860               21   98.0
12    1876               20   42.0
19    2709               24   99.0
20    2751               13   70.0
21    3132               30   82.0
23    3290               16   58.0
25    3829               16   64.0
27    4514               31   69.0
28    4536               32   86.0
29    4602               27   62.0
30    4679               20   78.0
31    4892               22   56.0
34    5147               23   86.0
36    5393               11   49.0
40    6099               14   65.0
41    6444               32   49.0
42    6743               11   72.0
43    7151               22   71.0
44    7209               17   34.0
48    7790               13   73.0
50    8087               10   97.0
51    8147               18   86.0
52    8388               15   47.0
53    8571               29   41.0
54    8860               32   65.0
55    9105                9   41.0
56    9118               26   87.0
61    9923               21   57.0
62    9997               20   52.0
63   10262               26   64.0
66   10886               27   97.0
67   11132               25   64.0
68   11133                8   32.0
69   11257               12   92.0
70   11276               29   51.0
76   12592               30   32.0
77   12779               31   99.0
78   12886               32   65.0
80   12963               20   47.0
83   13174               19   42.0
85   13475               20   40.0
88   13966               15   83.0
89   14301               16   29.0
91   14818               13   88.0
92   15004               19   22.0
93   15014               30   40.0
95   15108               19   95.0
96   15153               32   68.0
99   15788               32   35.0

In [12]:
dc.safreq('SQ7', only=range(1, 11))

## SQ7 MISSING CHECK
# All base
# No error
----------

## SQ7 ANSWER DATA CHECK
# Answer only in Range 1 THRU 11
# Only value check : No error
----------

In [13]:
dc.mafreq(('SQ8r1', 'SQ8r7'))

## 'SQ8r1 - SQ8r7' Answer Check
# All base
# The atleast error check (atleast = 1)
----------

In [14]:
dc.logchk(dc.df.SQ7>=2, dc.df.SQ8r7.isnull())

## Puncing Logic Check
# Puching Logic correct
----------

In [15]:
dc.mafreq(('SQ8r1', 'SQ8r7'), cond=dc.df.SQ8r7==7, df=True)

     record  count err  SQ8r1  SQ8r2  SQ8r3  SQ8r4  SQ8r5  SQ8r99  SQ8r7
56     9118    1.0          0      0      0      0      0       0    7.0
59     9584    1.0          0      0      0      0      0       0    7.0
67    11132    1.0          0      0      0      0      0       0    7.0
71    11507    1.0          0      0      0      0      0       0    7.0
80    12963    1.0          0      0      0      0      0       0    7.0
81    13039    1.0          0      0      0      0      0       0    7.0
94    15090    1.0          0      0      0      0      0       0    7.0
99    15788    1.0          0      0      0      0      0       0    7.0
100   15896    1.0          0      0      0      0      0       0    7.0

In [16]:
dc.logchk(dc.df.SQ7==1, dc.df.SQ8r7==7)

## Puncing Logic Check
# Puching Logic correct
----------

# !!! ERROR !!!!
SQ8r1 : SQ5==2 가 아닐 때도 제시가 되는 중  
SQ8r4 : SQ6==2 일 때 미제시 적용 안돼있음

In [17]:
dc.safreq('SQ8r1', cond=raw.SQ5==2, with_cols=['SQ5'])
dc.safreq('SQ8r4', cond=raw.SQ6!=2, with_cols=['SQ6'])

## SQ8r1 MISSING CHECK
# Condition
▶ Error sample count : 65

## SQ8r4 MISSING CHECK
# Condition
▶ Error sample count : 41

In [18]:
dc.logchk(dc.df.SQ5!=2, dc.df.SQ8r1.isnull(), err=True, with_cols=['SQ5', 'SQ8r1'])

    record  SQ5  SQ8r1
0       31    3      1
1      166    1      0
2      316    3      0
3      352    3      0
4      549    1      0
6      733    3      0
7      803    1      0
8      860    1      0
9     1205    3      0
11    1673    3      0
12    1876    1      1
13    2148    3      0
14    2321    3      0
16    2548    3      1
18    2683    3      0
19    2709    1      0
21    3132    3      1
22    3287    3      1
26    3830    3      1
27    4514    3      0
30    4679    1      0
31    4892    1      0
32    4917    3      0
33    4979    1      0
34    5147    3      0
35    5283    1      0
36    5393    1      0
37    5622    3      0
38    5656    1      0
42    6743    3      1
44    7209    1      0
48    7790    1      0
50    8087    1      1
51    8147    3      1
52    8388    1      0
54    8860    1      1
55    9105    3      0
56    9118    3      0
57    9491    3      0
58    9518    1      1
59    9584    1      0
60    9819    1      1
61    9923    1      0
62    9997    3      1
63   10262    3      0
65   10510    3      1
67   11132    3      0
68   11133    3      1
69   11257    3      1
70   11276    3      0
72   11817    1      1
73   11970    3      0
75   12583    3      0
76   12592    1      0
78   12886    3      1
81   13039    1      0
82   13145    1      1
83   13174    1      1
90   14486    1      0
91   14818    1      0
93   15014    3      0
94   15090    1      0
96   15153    1      0
97   15295    1      0
99   15788    1      0

In [19]:
dc.logchk(dc.df.SQ6==2, dc.df.SQ8r4.isnull(), err=True, with_cols=['SQ6', 'SQ8r1'])

     record  SQ6  SQ8r1
1       166    2      0
2       316    2      0
4       549    2      0
7       803    2      0
9      1205    2      0
10     1270    2      0
11     1673    2      0
13     2148    2      0
15     2480    2      0
17     2643    2      0
18     2683    2      0
24     3723    2      0
32     4917    2      0
33     4979    2      0
35     5283    2      0
37     5622    2      0
38     5656    2      0
39     5950    2      0
45     7278    2      1
46     7367    2      1
47     7637    2      0
49     7833    2      0
57     9491    2      0
58     9518    2      1
59     9584    2      0
60     9819    2      1
64    10346    2      1
65    10510    2      1
71    11507    2      0
74    12456    2      0
75    12583    2      0
79    12906    2      0
81    13039    2      0
82    13145    2      1
84    13204    2      1
90    14486    2      0
94    15090    2      0
97    15295    2      0
98    15674    2      0
100   15896    2      0
101   15975    2      1

In [20]:
dc.safreq('SQ9')

## SQ9 MISSING CHECK
# All base
# No error
----------

In [21]:
dc.logchk( (dc.df.SQ5.isin([1, 3])) & (dc.df.SQ6==2), dc.df.SQ9==1)

## Puncing Logic Check
# Puching Logic correct
----------

In [22]:
dc.logchk( (dc.df.SQ5.isin([2])) & (dc.df.SQ6==2), dc.df.SQ9==2)

## Puncing Logic Check
# Puching Logic correct
----------

In [23]:
dc.logchk( (dc.df.SQ6.isin([1, 3])) & (dc.df.SQ6_1.between(0, 6)), dc.df.SQ9==3)

## Puncing Logic Check
# Puching Logic correct
----------

In [24]:
dc.logchk( (dc.df.SQ6.isin([1])) & (dc.df.SQ6_1.between(7, 12)), dc.df.SQ9==4)

## Puncing Logic Check
# Puching Logic correct
----------

In [25]:
dc.logchk( (dc.df.SQ6.isin([1])) & (dc.df.SQ6_1.between(13, 18)), dc.df.SQ9==5)

## Puncing Logic Check
# Puching Logic correct
----------

In [26]:
dc.logchk( (dc.df.SQ6.isin([1])) & (dc.df.SQ6_1 >= 19) & (dc.df.SQ8r4==4), dc.df.SQ9==6)

## Puncing Logic Check
# Puching Logic correct
----------

In [27]:
dc.logchk( (dc.df.SQ6.isin([1])) & (dc.df.SQ6_1 >= 19) & (dc.df.SQ8r4!=4), dc.df.SQ9==7)

## Puncing Logic Check
# Puching Logic correct
----------

In [28]:
dc.freq('SQ9')

7    39
1    24
6    17
2    17
4     2
3     2
5     1
Name: SQ9, dtype: int64

In [29]:
dc.safreq('SQ10', only=5)

## SQ10 MISSING CHECK
# All base
# No error
----------

## SQ10 ANSWER DATA CHECK
# Answer only in 5
# Only value check : No error
----------

In [30]:
dc.safreq('SQ11', only=[1, 2])

## SQ11 MISSING CHECK
# All base
# No error
----------

## SQ11 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------

In [31]:
dc.safreq('SQ13', only=range(500000, 30000000))

## SQ13 MISSING CHECK
# All base
# No error
----------

## SQ13 ANSWER DATA CHECK
# Answer only in Range 500000 THRU 30000000
# Only value check : No error
----------

In [32]:
dc.safreq('SQ14')

## SQ14 MISSING CHECK
# All base
# No error
----------

In [33]:
dc.df['income_re'] = dc.df['SQ13']/10000
dc.df[['SQ13', 'income_re']]

         SQ13  income_re
0     6838621   683.8621
1     5593638   559.3638
2    17059514  1705.9514
3    29518113  2951.8113
4    21511803  2151.1803
5    19199996  1919.9996
6    17381594  1738.1594
7    20517245  2051.7245
8    15587783  1558.7783
9    13495475  1349.5475
10   13474853  1347.4853
11   26938822  2693.8822
12    8127972   812.7972
13   10360766  1036.0766
14   20639990  2063.9990
15    8961220   896.1220
16    9514312   951.4312
17   23706816  2370.6816
18   28226909  2822.6909
19   29954418  2995.4418
20   14468089  1446.8089
21   28046239  2804.6239
22   23171224  2317.1224
23   21421510  2142.1510
24    7269004   726.9004
25   26455699  2645.5699
26    4432581   443.2581
27   20213153  2021.3153
28   24552273  2455.2273
29    2645896   264.5896
30     526869    52.6869
31   27062837  2706.2837
32   12709154  1270.9154
33   11475624  1147.5624
34   29655373  2965.5373
35   14740166  1474.0166
36     649900    64.9900
37   29429424  2942.9424
38   19796921  1979.6921
39   23850690  2385.0690
40   19354366  1935.4366
41    2842912   284.2912
42   23029135  2302.9135
43   14846848  1484.6848
44   26336912  2633.6912
45   12417828  1241.7828
46   15629789  1562.9789
47   23570207  2357.0207
48    2790859   279.0859
49   29679073  2967.9073
50   26585503  2658.5503
51   27516447  2751.6447
52    4525186   452.5186
53   16153060  1615.3060
54    9322285   932.2285
55    9798819   979.8819
56    8375694   837.5694
57   28946394  2894.6394
58   28009563  2800.9563
59    6603510   660.3510
60   26931853  2693.1853
61   12493946  1249.3946
62   26489576  2648.9576
63     896634    89.6634
64   24251641  2425.1641
65   12353064  1235.3064
66   17107118  1710.7118
67    5734924   573.4924
68    2508071   250.8071
69   28349654  2834.9654
70    8520838   852.0838
71   17693995  1769.3995
72    3748356   374.8356
73    3845554   384.5554
74   22110554  2211.0554
75   16420563  1642.0563
76     750280    75.0280
77   13964358  1396.4358
78   27668340  2766.8340
79   15317295  1531.7295
80   19262290  1926.2290
81   19625167  1962.5167
82    4595165   459.5165
83   26790991  2679.0991
84   18173574  1817.3574
85   20739883  2073.9883
86    2332060   233.2060
87   25275190  2527.5190
88   11279831  1127.9831
89   19104291  1910.4291
90   26893677  2689.3677
91   13275579  1327.5579
92   28547302  2854.7302
93   15962721  1596.2721
94    6010800   601.0800
95   28630176  2863.0176
96    3051143   305.1143
97   20551035  2055.1035
98    3896159   389.6159
99   21521138  2152.1138
100  11941176  1194.1176
101  11659582  1165.9582

In [34]:
dc.logchk( dc.df.income_re<=249, dc.df.SQ14==1 )
dc.logchk( dc.df.income_re>=1500, dc.df.SQ14==12 )

## Puncing Logic Check
# Puching Logic correct
----------


## Puncing Logic Check
# Puching Logic correct
----------

In [35]:
income_range = {
    2 : [250, 299],   
    3 : [300, 349],   
    4 : [350, 399],   
    5 : [400, 499],   
    6 : [500, 599],   
    7 : [600, 699],   
    8 : [700, 799],   
    9 : [800, 899],   
    10 : [900, 999],   
    11 : [1000, 1499]
}

for key, val in income_range.items() :
    print(key)
    dc.logchk( dc.df.income_re.between(val[0], val[1]), dc.df.SQ14==key)

2
## Puncing Logic Check
# Puching Logic correct
----------


3
## Puncing Logic Check
# Puching Logic correct
----------


4
## Puncing Logic Check
# Puching Logic correct
----------


5
## Puncing Logic Check
# Puching Logic correct
----------


6
## Puncing Logic Check
# Puching Logic correct
----------


7
## Puncing Logic Check
# Puching Logic correct
----------


8
## Puncing Logic Check
# Puching Logic correct
----------


9
## Puncing Logic Check
# Puching Logic correct
----------


10
## Puncing Logic Check
# Puching Logic correct
----------


11
## Puncing Logic Check
# Puching Logic correct
----------

In [36]:
product_codes = list(range(1, 24))

In [37]:
for p in product_codes :
    dc.safreq(f'SQ15ar{p}', only=[1, 2])

## SQ15ar1 MISSING CHECK
# All base
# No error
----------

## SQ15ar1 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15ar2 MISSING CHECK
# All base
# No error
----------

## SQ15ar2 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15ar3 MISSING CHECK
# All base
# No error
----------

## SQ15ar3 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15ar4 MISSING CHECK
# All base
# No error
----------

## SQ15ar4 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15ar5 MISSING CHECK
# All base
# No error
----------

## SQ15ar5 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15ar6 MISSING CHECK
# All base
# No error
----------

## SQ15ar6 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15ar7 MISSING CHECK
# All base
# No error
----------

## SQ15ar7 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15ar8 MISSING CHECK
# All base
# No error
----------

## SQ15ar8 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15ar9 MISSING CHECK
# All base
# No error
----------

## SQ15ar9 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15ar10 MISSING CHECK
# All base
# No error
----------

## SQ15ar10 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15ar11 MISSING CHECK
# All base
# No error
----------

## SQ15ar11 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15ar12 MISSING CHECK
# All base
# No error
----------

## SQ15ar12 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15ar13 MISSING CHECK
# All base
# No error
----------

## SQ15ar13 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15ar14 MISSING CHECK
# All base
# No error
----------

## SQ15ar14 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15ar15 MISSING CHECK
# All base
# No error
----------

## SQ15ar15 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15ar16 MISSING CHECK
# All base
# No error
----------

## SQ15ar16 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15ar17 MISSING CHECK
# All base
# No error
----------

## SQ15ar17 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15ar18 MISSING CHECK
# All base
# No error
----------

## SQ15ar18 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15ar19 MISSING CHECK
# All base
# No error
----------

## SQ15ar19 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15ar20 MISSING CHECK
# All base
# No error
----------

## SQ15ar20 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15ar21 MISSING CHECK
# All base
# No error
----------

## SQ15ar21 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15ar22 MISSING CHECK
# All base
# No error
----------

## SQ15ar22 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15ar23 MISSING CHECK
# All base
# No error
----------

## SQ15ar23 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------

In [38]:
dc.df[ (dc.df.SQ15ar6==2) & (dc.df.SQ15br6==2) ]['record']

Series([], Name: record, dtype: int64)

In [39]:
for p in product_codes :
    dc.safreq(f'SQ15br{p}', only=[1, 2])

## SQ15br1 MISSING CHECK
# All base
# No error
----------

## SQ15br1 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15br2 MISSING CHECK
# All base
# No error
----------

## SQ15br2 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15br3 MISSING CHECK
# All base
# No error
----------

## SQ15br3 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15br4 MISSING CHECK
# All base
# No error
----------

## SQ15br4 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15br5 MISSING CHECK
# All base
# No error
----------

## SQ15br5 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15br6 MISSING CHECK
# All base
# No error
----------

## SQ15br6 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15br7 MISSING CHECK
# All base
# No error
----------

## SQ15br7 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15br8 MISSING CHECK
# All base
# No error
----------

## SQ15br8 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15br9 MISSING CHECK
# All base
# No error
----------

## SQ15br9 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15br10 MISSING CHECK
# All base
# No error
----------

## SQ15br10 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15br11 MISSING CHECK
# All base
# No error
----------

## SQ15br11 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15br12 MISSING CHECK
# All base
# No error
----------

## SQ15br12 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15br13 MISSING CHECK
# All base
# No error
----------

## SQ15br13 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15br14 MISSING CHECK
# All base
# No error
----------

## SQ15br14 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15br15 MISSING CHECK
# All base
# No error
----------

## SQ15br15 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15br16 MISSING CHECK
# All base
# No error
----------

## SQ15br16 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15br17 MISSING CHECK
# All base
# No error
----------

## SQ15br17 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15br18 MISSING CHECK
# All base
# No error
----------

## SQ15br18 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15br19 MISSING CHECK
# All base
# No error
----------

## SQ15br19 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15br20 MISSING CHECK
# All base
# No error
----------

## SQ15br20 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15br21 MISSING CHECK
# All base
# No error
----------

## SQ15br21 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15br22 MISSING CHECK
# All base
# No error
----------

## SQ15br22 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------


## SQ15br23 MISSING CHECK
# All base
# No error
----------

## SQ15br23 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------

In [40]:
dc.safreq('SQ12', only=[1,2])

## SQ12 MISSING CHECK
# All base
# No error
----------

## SQ12 ANSWER DATA CHECK
# Answer only in List [1, 2]
# Only value check : No error
----------

In [41]:
types = [1,2,3,4,5]

In [42]:
for t in types :
    dc.safreq(f'SQ16r{t}')

## SQ16r1 MISSING CHECK
# All base
# No error
----------


## SQ16r2 MISSING CHECK
# All base
# No error
----------


## SQ16r3 MISSING CHECK
# All base
# No error
----------


## SQ16r4 MISSING CHECK
# All base
# No error
----------


## SQ16r5 MISSING CHECK
# All base
# No error
----------

In [43]:
dc.count_col('SQ15a_r5_r9', ('SQ15ar5', 'SQ15ar9'), value=1)

     record  SQ15a_r5_r9  SQ15ar5  SQ15ar6  SQ15ar7  SQ15ar8  SQ15ar9
0        31          3.0        1        2        1        2        1
1       166          2.0        2        1        2        1        2
2       316          3.0        1        1        2        2        1
3       352          5.0        1        1        1        1        1
4       549          2.0        1        1        2        2        2
5       630          5.0        1        1        1        1        1
6       733          4.0        1        1        1        2        1
7       803          3.0        2        2        1        1        1
8       860          2.0        2        2        1        2        1
9      1205          2.0        1        2        1        2        2
10     1270          2.0        1        1        2        2        2
11     1673          1.0        2        2        2        2        1
12     1876          2.0        1        2        2        1        2
13     2148          4.0        1        1        1        2        1
14     2321          3.0        1        2        1        1        2
15     2480          3.0        1        2        1        2        1
16     2548          1.0        2        2        2        2        1
17     2643          2.0        2        2        1        2        1
18     2683          3.0        1        2        1        1        2
19     2709          2.0        2        2        1        1        2
20     2751          3.0        1        1        2        1        2
21     3132          1.0        2        2        2        1        2
22     3287          2.0        1        2        2        2        1
23     3290          2.0        2        2        1        2        1
24     3723          2.0        2        2        2        1        1
25     3829          4.0        1        1        1        2        1
26     3830          3.0        2        1        1        1        2
27     4514          3.0        1        1        1        2        2
28     4536          0.0        2        2        2        2        2
29     4602          2.0        1        2        1        2        2
30     4679          4.0        1        1        1        1        2
31     4892          4.0        2        1        1        1        1
32     4917          3.0        1        2        2        1        1
33     4979          4.0        1        1        1        2        1
34     5147          2.0        1        2        1        2        2
35     5283          2.0        1        2        1        2        2
36     5393          3.0        2        1        1        2        1
37     5622          2.0        1        2        1        2        2
38     5656          0.0        2        2        2        2        2
39     5950          2.0        1        2        1        2        2
40     6099          2.0        2        1        2        2        1
41     6444          2.0        2        1        2        2        1
42     6743          2.0        2        2        1        2        1
43     7151          1.0        2        2        2        1        2
44     7209          2.0        2        1        2        2        1
45     7278          2.0        1        1        2        2        2
46     7367          2.0        2        1        2        2        1
47     7637          2.0        2        1        1        2        2
48     7790          1.0        2        1        2        2        2
49     7833          1.0        1        2        2        2        2
50     8087          3.0        2        2        1        1        1
51     8147          1.0        2        2        2        1        2
52     8388          2.0        1        2        1        2        2
53     8571          3.0        1        2        2        1        1
54     8860          2.0        1        2        2        2        1
55     9105          1.0        1        2        2        2        2
56     9118          2.0        2        2        1        2        1
57     9491          3.0        1        1        2        2        1
58     9518          5.0        1        1        1        1        1
59     9584          2.0        2        2        1        2        1
60     9819          3.0        2        1        2        1        1
61     9923          1.0        1        2        2        2        2
62     9997          3.0        1        2        1        2        1
63    10262          3.0        1        1        2        2        1
64    10346          2.0        1        2        2        1        2
65    10510          3.0        1        1        2        1        2
66    10886          1.0        1        2        2        2        2
67    11132          4.0        1        2        1        1        1
68    11133          4.0        2        1        1        1        1
69    11257          3.0        2        2        1        1        1
70    11276          2.0        1        2        2        2        1
71    11507          1.0        2        2        2        1        2
72    11817          2.0        1        2        1        2        2
73    11970          2.0        1        2        2        1        2
74    12456          3.0        1        1        2        1        2
75    12583          2.0        2        2        1        1        2
76    12592          2.0        2        1        2        1        2
77    12779          1.0        1        2        2        2        2
78    12886          2.0        1        1        2        2        2
79    12906          1.0        2        1        2        2        2
80    12963          1.0        2        1        2        2        2
81    13039          3.0        2        1        2        1        1
82    13145          3.0        1        2        2        1        1
83    13174          1.0        2        2        2        1        2
84    13204          2.0        1        2        1        2        2
85    13475          3.0        1        2        2        1        1
86    13904          2.0        1        2        2        2        1
87    13926          2.0        1        2        2        2        1
88    13966          1.0        2        2        2        2        1
89    14301          2.0        2        2        2        1        1
90    14486          3.0        1        1        2        1        2
91    14818          2.0        2        2        1        2        1
92    15004          3.0        1        2        1        1        2
93    15014          4.0        1        1        2        1        1
94    15090          2.0        1        2        2        1        2
95    15108          3.0        2        1        2        1        1
96    15153          2.0        1        1        2        2        2
97    15295          2.0        2        1        2        2        1
98    15674          4.0        1        2        1        1        1
99    15788          3.0        2        1        1        1        2
100   15896          3.0        2        2        1        1        1
101   15975          0.0        2        2        2        2        2

In [44]:
for t in types :
    dc.safreq(f'SQ18r{t}', cond=dc.df[f'SQ16r{t}']==1, only=range(1, 5))

## SQ18r1 MISSING CHECK
# Condition
# No error
----------

## SQ18r1 ANSWER DATA CHECK
# Answer only in Range 1 THRU 5
# Only value check : No error
----------


## SQ18r2 MISSING CHECK
# Condition
# No error
----------

## SQ18r2 ANSWER DATA CHECK
# Answer only in Range 1 THRU 5
# Only value check : No error
----------


## SQ18r3 MISSING CHECK
# Condition
# No error
----------

## SQ18r3 ANSWER DATA CHECK
# Answer only in Range 1 THRU 5
# Only value check : No error
----------


## SQ18r4 MISSING CHECK
# Condition
# No error
----------

## SQ18r4 ANSWER DATA CHECK
# Answer only in Range 1 THRU 5
# Only value check : No error
----------


## SQ18r5 MISSING CHECK
# Condition
# No error
----------

## SQ18r5 ANSWER DATA CHECK
# Answer only in Range 1 THRU 5
# Only value check : No error
----------

In [45]:
dc.safreq('HQ0')

## HQ0 MISSING CHECK
# All base
# No error
----------

In [46]:
dc.logchk(dc.df.SQ16r2==1, dc.df.HQ0==1)

## Puncing Logic Check
# Puching Logic correct
----------

In [47]:
loops = [1,2,3]
base_brand = [1,2,3,4,8,10,11,16,19,20]

In [48]:
for l in loops :
    dc.safreq(f'SQ19x{l}', cond=dc.df.SQ18r2>=l)
    dc.safreq(f'SQ20x{l}', cond=(dc.df.SQ18r2>=l) & (dc.df[f'SQ19x{l}'].isin(base_brand)))
    dc.df[f'SQ20x{l}_re'] = dc.df[f'SQ20x{l}']//100
    
    print(dc.df[ (dc.df[f'SQ20x{l}_re'] != dc.df[f'SQ19x{l}']) & (dc.df[f'SQ19x{l}'].isin(base_brand)) ][[f'SQ20x{l}_re', f'SQ19x{l}']])

## SQ19x1 MISSING CHECK
# Condition
# No error
----------


## SQ20x1 MISSING CHECK
# Condition
# No error
----------


Empty DataFrame
Columns: [SQ20x1_re, SQ19x1]
Index: []
## SQ19x2 MISSING CHECK
# Condition
# No error
----------


## SQ20x2 MISSING CHECK
# Condition
# No error
----------


Empty DataFrame
Columns: [SQ20x2_re, SQ19x2]
Index: []
## SQ19x3 MISSING CHECK
# Condition
# No error
----------


## SQ20x3 MISSING CHECK
# Condition
# No error
----------


Empty DataFrame
Columns: [SQ20x3_re, SQ19x3]
Index: []

In [49]:
dc.safreq('SQ21r1', only=range(2010, 2021))
dc.safreq('SQ21r2', only=range(1, 12))

## SQ21r1 MISSING CHECK
# All base
# No error
----------

## SQ21r1 ANSWER DATA CHECK
# Answer only in Range 2010 THRU 2021
# Only value check : No error
----------


## SQ21r2 MISSING CHECK
# All base
# No error
----------

## SQ21r2 ANSWER DATA CHECK
# Answer only in Range 1 THRU 12
# Only value check : No error
----------

In [50]:
dc.safreq('SQ22', only=range(1, 200), cond=dc.df.HQ0==1)

## SQ22 MISSING CHECK
# Condition
# No error
----------

## SQ22 ANSWER DATA CHECK
# Answer only in Range 1 THRU 200
# Only value check : No error
----------

In [51]:
dc.safreq('HQ1', only=1)

## HQ1 MISSING CHECK
# All base
# No error
----------

## HQ1 ANSWER DATA CHECK
# Answer only in 1
# Only value check : No error
----------

In [52]:
dc.df[ ['SQ19x1', 'SQ19x2', 'SQ19x3', 'SQ21r1', 'SQ21r2', 'SQ22'] ]

     SQ19x1  SQ19x2  SQ19x3  SQ21r1  SQ21r2  SQ22
0         1    11.0    19.0    2020      11    51
1         1     NaN     NaN    2020      11    51
2         1    19.0     NaN    2020      11    51
3         1     NaN     NaN    2020      11    51
4         1     8.0     3.0    2020      11    51
5         1     NaN     NaN    2020      11    51
6         1     1.0    12.0    2020      11    51
7         1    17.0     1.0    2020      11    51
8         1    10.0    12.0    2020      11    51
9         1    15.0    12.0    2020      11    51
10        1     6.0     NaN    2020      11    51
11        1    14.0     NaN    2020      11    51
12        1     NaN     NaN    2020      11    51
13        1     6.0    20.0    2020      11    51
14        1     3.0    18.0    2020      11    51
15        1    10.0     NaN    2020      11    51
16        1     NaN     NaN    2020      11    51
17        1    14.0     2.0    2020      11    51
18        1    19.0     NaN    2020      11    51
19        1     6.0    20.0    2020      11    51
20        1    12.0     8.0    2020      11    51
21        1     NaN     NaN    2020      11    51
22        1     2.0    13.0    2020      11    51
23        1     NaN     NaN    2020      11    51
24        1    16.0     8.0    2020      11    51
25        1    11.0     1.0    2020      11    51
26        1     NaN     NaN    2020      11    51
27        1    13.0    13.0    2020      11    51
28        1    15.0     3.0    2020      11    51
29        1     NaN     NaN    2020      11    51
30        1    13.0     9.0    2020      11    51
31        1    16.0    20.0    2020      11    51
32        1    11.0    13.0    2020      11    51
33        1    15.0    19.0    2020      11    51
34        1     2.0     4.0    2020      11    51
35        1    19.0    11.0    2020      11    51
36        1    14.0     1.0    2020      11    51
37        1     6.0    20.0    2020      11    51
38        1    99.0     8.0    2020      11    51
39        1    16.0    19.0    2020      11    51
40        1    18.0    99.0    2020      11    51
41        1     9.0    16.0    2020      11    51
42        1    15.0     NaN    2020      11    51
43        1     1.0    13.0    2020      11    51
44        1     4.0    99.0    2020      11    51
45        1     1.0     6.0    2020      11    51
46        1     NaN     NaN    2020      11    51
47        1    14.0     NaN    2020      11    51
48        1     NaN     NaN    2020      11    51
49        1    16.0    16.0    2020      11    51
50        1     1.0     1.0    2020      11    51
51        1    16.0     4.0    2020      11    51
52        1    20.0    20.0    2020      11    51
53        1     NaN     NaN    2020      11    51
54        1     5.0     NaN    2020      11    51
55        1    19.0     2.0    2020      11    51
56        1     2.0    10.0    2020      11    51
57        1     6.0     2.0    2020      11    51
58        1     9.0    10.0    2020      11    51
59        1    15.0     1.0    2020      11    51
60        1     3.0    15.0    2020      11    51
61        1    18.0    14.0    2020      11    51
62        1     NaN     NaN    2020      11    51
63        1    19.0     NaN    2020      11    51
64        1    12.0    12.0    2020      11    51
65        1     NaN     NaN    2020      11    51
66        1     NaN     NaN    2020      11    51
67        1    17.0     NaN    2020      11    51
68        1     7.0     8.0    2020      11    51
69        1    20.0     8.0    2020      11    51
70        1     NaN     NaN    2020      11    51
71        1    20.0    14.0    2020      11    51
72        1     3.0     5.0    2020      11    51
73        1     NaN     NaN    2020      11    51
74        1     NaN     NaN    2020      11    51
75        1    19.0     7.0    2020      11    51
76        1     7.0    18.0    2020      11    51
77        1     NaN     NaN    2020      11    51
78        1     NaN     NaN    2020      11    51
79        1     NaN     NaN    2020      11    51
80        1     NaN     NaN    2020      11    51
81        1     5.0     6.0    2020      11    51
82        1     6.0    16.0    2020      11    51
83        1    11.0     NaN    2020      11    51
84        1    13.0     NaN    2020      11    51
85        1     NaN     NaN    2020      11    51
86        1     2.0     9.0    2020      11    51
87        1    19.0    20.0    2020      11    51
88        1    10.0     6.0    2020      11    51
89        1     NaN     NaN    2020      11    51
90        1    15.0     9.0    2020      11    51
91        1    12.0     5.0    2020      11    51
92        1     2.0     4.0    2020      11    51
93        1     1.0    14.0    2020      11    51
94        1     8.0     7.0    2020      11    51
95        1    15.0    16.0    2020      11    51
96        1    16.0     NaN    2020      11    51
97        1    16.0    15.0    2020      11    51
98        1    11.0    16.0    2020      11    51
99        1     9.0     7.0    2020      11    51
100       1    99.0     NaN    2020      11    51
101       1     NaN     NaN    2020      11    51

In [53]:
dc.safreq('SQ23')

## SQ23 MISSING CHECK
# All base
# No error
----------

In [54]:
# dc.df[ ['HQ0', 'SQ18r1', 'SQ18r2', 'SQ23'] ]
dc.logchk(dc.df.HQ0==2, dc.df.SQ23==1)

## Puncing Logic Check
▷ No response to this condition
----------

In [92]:
dc.logchk((dc.df.HQ0==1) & (dc.df.SQ18r1>0) & ~(dc.df.SQ18r2>1), dc.df.SQ23.isin([1, 2, 3, 99]), with_cols=['HQ0', 'SQ18r1', 'SQ18r2', 'SQ23'])

## Puncing Logic Check
# Puching Logic correct
----------

In [56]:
dc.logchk((dc.df.HQ0==1) & ~(dc.df.SQ18r1>0) & (dc.df.SQ18r2>1), dc.df.SQ23.isin([1, 4, 5, 99]), with_cols=['HQ0', 'SQ18r1', 'SQ18r2', 'SQ23'])

## Puncing Logic Check
# Puching Logic correct
----------

In [57]:
dc.logchk((dc.df.HQ0==1) & (dc.df.SQ18r1>0) & (dc.df.SQ18r2>1), dc.df.SQ23.isin([1, 2, 3, 4, 5, 99]), with_cols=['HQ0', 'SQ18r1', 'SQ18r2', 'SQ23'])

## Puncing Logic Check
# Puching Logic correct
----------

In [58]:
dc.safreq('SQ24', cond=dc.df.SQ23.isin([2,3,4,5]))

## SQ24 MISSING CHECK
# Condition
# No error
----------

In [59]:
dc.safreq('SQ25', cond=(dc.df.SQ24.isin([1,2,3, 4, 8, 10, 11, 16, 19, 20])) & ~(dc.df.SQ23.isin([2,3])) , df=True, with_cols=['SQ24'])

    record err only_err    SQ25  SQ24
6      733               1001.0  10.0
10    1270               1601.0  16.0
32    4917               1001.0  10.0
41    6444               1699.0  16.0
43    7151               1101.0  11.0
47    7637                301.0   3.0
50    8087               2099.0  20.0
56    9118                103.0   1.0
61    9923                299.0   2.0
63   10262               1699.0  16.0
71   11507                201.0   2.0
81   13039               1902.0  19.0
84   13204               1902.0  19.0

In [60]:
dc.safreq('SQ26', cond=dc.df.SQ15br6==1, only=range(1, 200))

## SQ26 MISSING CHECK
# Condition
# No error
----------

## SQ26 ANSWER DATA CHECK
# Answer only in Range 1 THRU 200
# Only value check : No error
----------

In [61]:
dc.mafreq(('SQ27r1', 'SQ27r99'), cond=dc.df.SQ15br6==1)

## 'SQ27r1 - SQ27r99' Answer Check
# Condition
# The atleast error check (atleast = 1)
----------

In [62]:
dc.safreq('SQ28', cond=dc.df.SQ15br6==1)

## SQ28 MISSING CHECK
# Condition
# No error
----------

In [63]:
dc.masa(('SQ27r1', 'SQ27r99'), 'SQ28')

## Multi variable base Single variable Logic Check
# SA : SQ28
# MA : SQ27r1 - SQ27r99 (21 columns)
# Logic correct
----------

In [64]:
dc.safreq('SQ29', cond=dc.df.SQ28.isin([1,2,3,4, 8, 10, 11, 16, 19, 20]), with_cols=['SQ28'], df=True)

     record err only_err  SQ29  SQ28
0        31                401     4
1       166               1902    19
2       316               1199    11
3       352               1099    10
4       549               1699    16
5       630                102     1
6       733               2001    20
7       803                302     3
8       860                402     4
9      1205                801     8
10     1270                105     1
11     1673                201     2
12     1876               1699    16
13     2148                499     4
14     2321                899     8
15     2480               1601    16
16     2548                403     4
17     2643               2001    20
18     2683               2001    20
19     2709               2001    20
20     2751                202     2
21     3132                102     1
22     3287               2099    20
23     3290               1902    19
24     3723               1699    16
25     3829               1601    16
26     3830                107     1
27     4514               1901    19
28     4536                303     3
29     4602               1699    16
30     4679                106     1
31     4892                302     3
32     4917               2099    20
33     4979                202     2
34     5147               1601    16
35     5283                105     1
36     5393                201     2
37     5622               1199    11
38     5656                302     3
39     5950               1902    19
40     6099               1101    11
41     6444                299     2
42     6743               1699    16
43     7151                110     1
44     7209               1901    19
45     7278                302     3
46     7367               2099    20
47     7637                899     8
48     7790                899     8
49     7833               1001    10
50     8087               1101    11
51     8147               1001    10
52     8388               1001    10
53     8571                499     4
54     8860               1999    19
55     9105                899     8
56     9118               1999    19
57     9491               1999    19
58     9518               1099    10
59     9584               1199    11
60     9819               2001    20
61     9923                303     3
62     9997                201     2
63    10262               1902    19
64    10346                199     1
65    10510                202     2
66    10886                202     2
67    11132               1901    19
68    11133               2099    20
69    11257               1902    19
70    11276                202     2
71    11507               1902    19
72    11817               2099    20
73    11970               1101    11
74    12456                201     2
75    12583               1101    11
76    12592                201     2
77    12779               1199    11
78    12886               1699    16
79    12906                106     1
80    12963               1099    10
81    13039               1099    10
82    13145               1999    19
83    13174                304     3
84    13204                899     8
85    13475                301     3
86    13904                105     1
87    13926               1099    10
88    13966                402     4
89    14301                304     3
90    14486                299     2
91    14818               1999    19
92    15004               1999    19
93    15014               1699    16
94    15090                899     8
95    15108               1699    16
96    15153               1099    10
97    15295               1101    11
98    15674               1001    10
99    15788               1199    11
100   15896                301     3
101   15975                201     2

In [65]:
dc.safreq('HQ2')

## HQ2 MISSING CHECK
# All base
# No error
----------

In [66]:
dc.logchk( (dc.df.SQ15br6==1) & (dc.df.SQ26>=50) & (dc.df.SQ28.isin([1,2,3,4, 8, 10, 11, 16, 19, 20])), dc.df.HQ2==1)

## Puncing Logic Check
# Puching Logic correct
----------

In [67]:
dc.logchk( (dc.df.SQ15br6==1) & (dc.df.SQ26>=50) & (dc.df.SQ28.isin([1,2,3,4, 8, 10, 11, 16, 19, 20])), dc.df.HQ2==1)

## Puncing Logic Check
# Puching Logic correct
----------

In [68]:
dc.freq('HQ2')

1    102
Name: HQ2, dtype: int64

In [69]:
dc.safreq('SQ30', cond=dc.df.HQ2==1)

## SQ30 MISSING CHECK
# Condition
# No error
----------

In [70]:
dc.logchk(dc.df.HQ0==2, dc.df.SQ30==1)

## Puncing Logic Check
▷ No response to this condition
----------

In [96]:
dc.logchk((dc.df.HQ0==1) & (dc.df.SQ18r1>0) & ~(dc.df.HQ0==1), dc.df.SQ23.isin([1, 2, 3, 99]), with_cols=['HQ0', 'SQ18r1', 'HQ0', 'SQ30'])

## Puncing Logic Check
▷ No response to this condition
----------

In [94]:
dc.logchk((dc.df.HQ0==1) & ~(dc.df.SQ18r1>0) & (dc.df.HQ0==1), dc.df.SQ23.isin([1, 4, 5, 99]), with_cols=['HQ0', 'SQ18r1', 'HQ0', 'SQ30'])

## Puncing Logic Check
# Puching Logic correct
----------

# SQ30 == 5 일 때 SQ31 무응답임

In [73]:
dc.safreq('SQ31', cond=dc.df.SQ30.isin([2,3,4,5]), with_cols=['SQ30', 'HQ0'], err=True)

     record      err only_err  SQ31  SQ30  HQ0
1       166  missing            NaN     5    1
5       630  missing            NaN     5    1
12     1876  missing            NaN     5    1
17     2643  missing            NaN     5    1
20     2751  missing            NaN     5    1
21     3132  missing            NaN     5    1
22     3287  missing            NaN     5    1
32     4917  missing            NaN     5    1
33     4979  missing            NaN     5    1
34     5147  missing            NaN     5    1
44     7209  missing            NaN     5    1
45     7278  missing            NaN     5    1
48     7790  missing            NaN     5    1
51     8147  missing            NaN     5    1
55     9105  missing            NaN     5    1
56     9118  missing            NaN     5    1
64    10346  missing            NaN     5    1
66    10886  missing            NaN     5    1
68    11133  missing            NaN     5    1
78    12886  missing            NaN     5    1
80    12963  missing            NaN     5    1
91    14818  missing            NaN     5    1
94    15090  missing            NaN     5    1
100   15896  missing            NaN     5    1

In [74]:
dc.safreq('SQ32', cond=(dc.df.SQ31.isin([1,2,3,4,8, 10, 11, 16, 19, 20 ])) & ~(dc.df.SQ30.isin([2,3])), df=True, with_cols=['SQ31', 'SQ30'])

    record err only_err    SQ32  SQ31  SQ30
0       31               1699.0  16.0     4
14    2321               1902.0  19.0     4
24    3723                304.0   3.0     4
47    7637                201.0   2.0     4
58    9518                106.0   1.0     4
59    9584               1601.0  16.0     4
60    9819                303.0   3.0     4
79   12906               1601.0  16.0     4
81   13039               1001.0  10.0     4
90   14486                899.0   8.0     4

In [75]:
dc.safreq('HQ3')

## HQ3 MISSING CHECK
# All base
# No error
----------

In [76]:
dc.logchk((dc.df.HQ1==1) & (dc.df.HQ2==2), dc.df.HQ3==1 )

## Puncing Logic Check
▷ No response to this condition
----------

In [77]:
dc.logchk((dc.df.HQ1==1) & (dc.df.HQ2==1), dc.df.HQ3==2 )

## Puncing Logic Check
# Puching Logic correct
----------

In [78]:
dc.logchk((dc.df.HQ1==2) & (dc.df.HQ2==1), dc.df.HQ3==3)

## Puncing Logic Check
▷ No response to this condition
----------

In [79]:
dc.freq('HQ3')

2    102
Name: HQ3, dtype: int64

In [80]:
dc.safreq('HQ3_1')

## HQ3_1 MISSING CHECK
# All base
# No error
----------

In [81]:
dc.safreq('HQ3_1')

## HQ3_1 MISSING CHECK
# All base
# No error
----------

In [82]:
dc.logchk( dc.df.HQ3==1, dc.df.HQ3_1==1 )

## Puncing Logic Check
▷ No response to this condition
----------

In [83]:
dc.logchk( dc.df.HQ3==2, dc.df.HQ3_1.isin([1,2]) )

## Puncing Logic Check
# Puching Logic correct
----------

In [84]:
dc.logchk( dc.df.HQ3==3, dc.df.HQ3_1.isin([2]) )

## Puncing Logic Check
▷ No response to this condition
----------

In [85]:
dc.freq('HQ3_1')

2    102
Name: HQ3_1, dtype: int64

In [86]:
dc.safreq('HQ3_2')

## HQ3_2 MISSING CHECK
# All base
# No error
----------

In [87]:
#dc.safreq('HQ3_2', cond=(dc.df.SQ30.isin([1,2,3])) & (dc.df.HQ3_1==2) , only=1, err=True, with_cols=['SQ30', 'HQ3_1'])
dc.logchk((dc.df.SQ30.isin([1,2,3])) & (dc.df.HQ3_1==2), dc.df.HQ3_2==1)

## Puncing Logic Check
# Puching Logic correct
----------

In [88]:
#dc.safreq('HQ3_2', cond=(dc.df.SQ30.isin([4,5])) & (dc.df.HQ3_1==2) , only=2)
dc.logchk((dc.df.SQ30.isin([4,5])) & (dc.df.HQ3_1==2), dc.df.HQ3_2==2)

## Puncing Logic Check
# Puching Logic correct
----------

In [89]:
#dc.safreq('HQ3_2', cond=(dc.df.SQ30==98) & (dc.df.HQ3_1==2) & (dc.df.HQ0==2), only=1)
dc.logchk((dc.df.SQ30==98) & (dc.df.HQ3_1==2), dc.df.HQ3_2==1)

## Puncing Logic Check
▷ No response to this condition
----------

In [98]:
#dc.safreq('HQ3_2', cond=(dc.df.SQ30==98) & (dc.df.HQ3_1==2) & (dc.df.HQ0==1), only=2)
dc.logchk((dc.df.SQ30==98) & (dc.df.HQ3_1==2), dc.df.HQ3_2==2)

## Puncing Logic Check
▷ No response to this condition
----------

In [99]:
dc.safreq('HQ4')

## HQ4 MISSING CHECK
# All base
# No error
----------

In [100]:
dc.df[dc.df['HQ3_1']==1][['HQ4', 'SQ19x1']]

Empty DataFrame
Columns: [HQ4, SQ19x1]
Index: []

In [101]:
dc.df[(dc.df['HQ3_1']==2) & (dc.df.SQ28.isin([1,2,3]))][['HQ4', 'SQ28']]

     HQ4  SQ28
5      1     1
7      3     3
10     1     1
11     2     2
20     2     2
21     1     1
26     1     1
28     3     3
30     1     1
31     3     3
33     2     2
35     1     1
36     2     2
38     3     3
41     2     2
43     1     1
45     3     3
61     3     3
62     2     2
64     1     1
65     2     2
66     2     2
70     2     2
74     2     2
76     2     2
79     1     1
83     3     3
85     3     3
86     1     1
89     3     3
90     2     2
100    3     3
101    2     2

In [102]:
dc.df[(dc.df['HQ3_1']==2) & ~(dc.df.SQ28.isin([1,2,3]))][['HQ4', 'SQ28']]

    HQ4  SQ28
0     4     4
1     4    19
2     4    11
3     4    10
4     4    16
6     4    20
8     4     4
9     4     8
12    4    16
13    4     4
14    4     8
15    4    16
16    4     4
17    4    20
18    4    20
19    4    20
22    4    20
23    4    19
24    4    16
25    4    16
27    4    19
29    4    16
32    4    20
34    4    16
37    4    11
39    4    19
40    4    11
42    4    16
44    4    19
46    4    20
47    4     8
48    4     8
49    4    10
50    4    11
51    4    10
52    4    10
53    4     4
54    4    19
55    4     8
56    4    19
57    4    19
58    4    10
59    4    11
60    4    20
63    4    19
67    4    19
68    4    20
69    4    19
71    4    19
72    4    20
73    4    11
75    4    11
77    4    11
78    4    16
80    4    10
81    4    10
82    4    19
84    4     8
87    4    10
88    4     4
91    4    19
92    4    19
93    4    16
94    4     8
95    4    16
96    4    10
97    4    11
98    4    10
99    4    11

In [103]:
dc.safreq('HQ5')

## HQ5 MISSING CHECK
# All base
# No error
----------

In [104]:
dc.df[dc.df.HQ3_1==1][['HQ5','SQ20x1']]

Empty DataFrame
Columns: [HQ5, SQ20x1]
Index: []

In [105]:
dc.df['SQ29_re'] = dc.df['SQ29']//100

In [106]:
dc.df[(dc.df.HQ3_1==2) & (dc.df.SQ29_re.isin([1,2,3])) ][['HQ5','SQ29']]

     HQ5  SQ29
5    102   102
7    302   302
10   105   105
11   201   201
20   202   202
21   102   102
26   107   107
28   303   303
30   106   106
31   302   302
33   202   202
35   105   105
36   201   201
38   302   302
41   299   299
43   110   110
45   302   302
61   303   303
62   201   201
64   199   199
65   202   202
66   202   202
70   202   202
74   201   201
76   201   201
79   106   106
83   304   304
85   301   301
86   105   105
89   304   304
90   299   299
100  301   301
101  201   201

In [107]:
dc.safreq('HQ6', cond=dc.df.HQ3_2==2)

## HQ6 MISSING CHECK
# Condition
# No error
----------

In [108]:
dc.safreq('HQ6', cond=dc.df.HQ3_2==2, df=True, with_cols=['HQ3_2', 'SQ19x1'])

     record err only_err  HQ6  HQ3_2  SQ19x1
0        31               1.0      2       1
1       166               1.0      2       1
4       549               1.0      2       1
5       630               1.0      2       1
7       803               1.0      2       1
9      1205               1.0      2       1
10     1270               1.0      2       1
11     1673               1.0      2       1
12     1876               1.0      2       1
14     2321               1.0      2       1
15     2480               1.0      2       1
17     2643               1.0      2       1
19     2709               1.0      2       1
20     2751               1.0      2       1
21     3132               1.0      2       1
22     3287               1.0      2       1
23     3290               1.0      2       1
24     3723               1.0      2       1
25     3829               1.0      2       1
28     4536               1.0      2       1
31     4892               1.0      2       1
32     4917               1.0      2       1
33     4979               1.0      2       1
34     5147               1.0      2       1
35     5283               1.0      2       1
37     5622               1.0      2       1
38     5656               1.0      2       1
39     5950               1.0      2       1
41     6444               1.0      2       1
42     6743               1.0      2       1
43     7151               1.0      2       1
44     7209               1.0      2       1
45     7278               1.0      2       1
47     7637               1.0      2       1
48     7790               1.0      2       1
49     7833               1.0      2       1
50     8087               1.0      2       1
51     8147               1.0      2       1
52     8388               1.0      2       1
54     8860               1.0      2       1
55     9105               1.0      2       1
56     9118               1.0      2       1
57     9491               1.0      2       1
58     9518               1.0      2       1
59     9584               1.0      2       1
60     9819               1.0      2       1
63    10262               1.0      2       1
64    10346               1.0      2       1
65    10510               1.0      2       1
66    10886               1.0      2       1
67    11132               1.0      2       1
68    11133               1.0      2       1
70    11276               1.0      2       1
71    11507               1.0      2       1
72    11817               1.0      2       1
74    12456               1.0      2       1
77    12779               1.0      2       1
78    12886               1.0      2       1
79    12906               1.0      2       1
80    12963               1.0      2       1
81    13039               1.0      2       1
82    13145               1.0      2       1
83    13174               1.0      2       1
84    13204               1.0      2       1
86    13904               1.0      2       1
87    13926               1.0      2       1
88    13966               1.0      2       1
90    14486               1.0      2       1
91    14818               1.0      2       1
92    15004               1.0      2       1
94    15090               1.0      2       1
95    15108               1.0      2       1
96    15153               1.0      2       1
99    15788               1.0      2       1
100   15896               1.0      2       1
101   15975               1.0      2       1

# AQ1 PASS

In [109]:
dc.mafreq(('AQ2r1', 'AQ2r99'))

## 'AQ2r1 - AQ2r99' Answer Check
# All base
# The atleast error check (atleast = 1)
----------

In [111]:
dc.mafreq(('AQ2r1', 'AQ2r99'), cond=dc.df.HQ3_1==2, with_cols=['SQ28'])

## 'AQ2r1 - AQ2r99' Answer Check
# Condition
# The atleast error check (atleast = 1)
----------

In [119]:
dc.mafreq(('AQ2r1', 'AQ2r99'), cond=dc.df.HQ3_1==1)

## 'AQ2r1 - AQ2r99' Answer Check
# Condition
# The atleast error check (atleast = 1)
▷ No response to this condition
▶ Error sample count : 102
----------

# AQ4 PASS

# CBC PASS

In [120]:
dc.safreq('CQ1', cond=~(dc.df.HQ3_1==2) | ~(dc.df.SQ30==1))

## CQ1 MISSING CHECK
# Condition
# No error
----------

### HQ3_1 == 2 & SQ30 == 1 인 케이스 무응답인데 이건 로직 자체를 확인할 필요가 있을 듯

In [129]:
dc.safreq('CQ2', cond=~((dc.df.HQ3_1==1) & (dc.df.SQ30==1)), with_cols=['HQ3_1', 'SQ30'], only=range(0, 90))

## CQ2 MISSING CHECK
# Condition
▶ Error sample count : 26
## CQ2 ANSWER DATA CHECK
# Answer only in Range 0 THRU 90
▶ Only Error sample count : 26

In [126]:
dc.safreq('CQ5r1', cond=~((dc.df.HQ3_1==1) & (dc.df.SQ30==1)), only=range(0, 100))

## CQ5r1 MISSING CHECK
# Condition
▶ Error sample count : 26
## CQ5r1 ANSWER DATA CHECK
# Answer only in Range 0 THRU 100
▶ Only Error sample count : 26

In [128]:
dc.safreq('CQ5r2', cond=~((dc.df.HQ3_1==1) & (dc.df.SQ30==1)), only=range(0, 100))

## CQ5r2 MISSING CHECK
# Condition
▶ Error sample count : 26
## CQ5r2 ANSWER DATA CHECK
# Answer only in Range 0 THRU 100
▶ Only Error sample count : 26

In [130]:
dc.mafreq(('CQ7c1', 'CQ7c5'))

## 'CQ7c1 - CQ7c5' Answer Check
# All base
# The atleast error check (atleast = 1)
----------

In [131]:
nz = list(range(1, 9))

In [132]:
for n in nz :
    dc.safreq(f'CQ10n{n}', cond=(dc.df.HQ3_1==1) | (dc.df.HQ3_2==2))

## CQ10n1 MISSING CHECK
# Condition
# No error
----------


## CQ10n2 MISSING CHECK
# Condition
# No error
----------


## CQ10n3 MISSING CHECK
# Condition
# No error
----------


## CQ10n4 MISSING CHECK
# Condition
# No error
----------


## CQ10n5 MISSING CHECK
# Condition
# No error
----------


## CQ10n6 MISSING CHECK
# Condition
# No error
----------


## CQ10n7 MISSING CHECK
# Condition
# No error
----------


## CQ10n8 MISSING CHECK
# Condition
# No error
----------

In [133]:
for n in nz :
    dc.safreq(f'CQ11n{n}', cond= dc.df[f'CQ10n{n}']==1)

## CQ11n1 MISSING CHECK
# Condition
# No error
----------


## CQ11n2 MISSING CHECK
# Condition
# No error
----------


## CQ11n3 MISSING CHECK
# Condition
# No error
----------


## CQ11n4 MISSING CHECK
# Condition
# No error
----------


## CQ11n5 MISSING CHECK
# Condition
# No error
----------


## CQ11n6 MISSING CHECK
# Condition
# No error
----------


## CQ11n7 MISSING CHECK
# Condition
# No error
----------


## CQ11n8 MISSING CHECK
# Condition
# No error
----------

In [134]:
for n in nz :
    dc.safreq(f'CQ12n{n}', cond= dc.df[f'CQ10n{n}']==1, only=range(0, 100))

## CQ12n1 MISSING CHECK
# Condition
# No error
----------

## CQ12n1 ANSWER DATA CHECK
# Answer only in Range 0 THRU 100
# Only value check : No error
----------


## CQ12n2 MISSING CHECK
# Condition
# No error
----------

## CQ12n2 ANSWER DATA CHECK
# Answer only in Range 0 THRU 100
# Only value check : No error
----------


## CQ12n3 MISSING CHECK
# Condition
# No error
----------

## CQ12n3 ANSWER DATA CHECK
# Answer only in Range 0 THRU 100
# Only value check : No error
----------


## CQ12n4 MISSING CHECK
# Condition
# No error
----------

## CQ12n4 ANSWER DATA CHECK
# Answer only in Range 0 THRU 100
# Only value check : No error
----------


## CQ12n5 MISSING CHECK
# Condition
# No error
----------

## CQ12n5 ANSWER DATA CHECK
# Answer only in Range 0 THRU 100
# Only value check : No error
----------


## CQ12n6 MISSING CHECK
# Condition
# No error
----------

## CQ12n6 ANSWER DATA CHECK
# Answer only in Range 0 THRU 100
# Only value check : No error
----------


## CQ12n7 MISSING CHECK
# Condition
# No error
----------

## CQ12n7 ANSWER DATA CHECK
# Answer only in Range 0 THRU 100
# Only value check : No error
----------


## CQ12n8 MISSING CHECK
# Condition
# No error
----------

## CQ12n8 ANSWER DATA CHECK
# Answer only in Range 0 THRU 100
# Only value check : No error
----------

In [135]:
dc.sum_col('CQ12_sum', ('CQ12n1', 'CQ12n8'), cond=(dc.df.HQ3_1==1) | (dc.df.HQ3_2==2))

,record,CQ12_sum,CQ12n1,CQ12n2,CQ12n3,CQ12n4,CQ12n5,CQ12n6,CQ12n7,CQ12n8
0,31,100.0,NaN,1.0,44.0,25.0,7.0,NaN,23.0,0.0
1,166,100.0,NaN,NaN,NaN,NaN,83.0,17.0,NaN,NaN
2,316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,549,100.0,NaN,NaN,31.0,6.0,41.0,20.0,2.0,NaN
5,630,100.0,10.0,NaN,NaN,9.0,28.0,25.0,28.0,NaN
6,733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,803,100.0,7.0,NaN,NaN,19.0,NaN,71.0,NaN,3.0
8,860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1205,100.0,NaN,NaN,NaN,NaN,6.0,NaN,94.0,NaN
10,1270,100.0,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN
11,1673,100.0,52.0,NaN,NaN,7.0,29.0,NaN,4.0,8.0
12,1876,100.0,13.0,NaN,32.0,NaN,25.0,12.0,NaN,18.0
13,2148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2321,100.0,NaN,14.0,NaN,32.0,2.0,12.0,40.0,NaN
15,2480,100.0,NaN,NaN,NaN,18.0,NaN,57.0,25.0,NaN
16,2548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2643,100.0,NaN,4.0,4.0,53.0,30.0,NaN,9.0,NaN
18,2683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2709,100.0,NaN,NaN,NaN,19.0,NaN,81.0,NaN,NaN
20,2751,100.0,58.0,NaN,13.0,NaN,9.0,NaN,20.0,NaN
21,3132,100.0,11.0,8.0,1.0,NaN,24.0,34.0,NaN,22.0
22,3287,100.0,20.0,NaN,20.0,40.0,NaN,NaN,NaN,20.0
23,3290,100.0,9.0,30.0,NaN,11.0,5.0,24.0,21.0,NaN
24,3723,100.0,24.0,7.0,69.0,NaN,NaN,NaN,NaN,NaN
25,3829,100.0,6.0,24.0,37.0,3.0,15.0,13.0,NaN,2.0
26,3830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,4514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,4536,100.0,NaN,37.0,NaN,12.0,51.0,NaN,NaN,NaN
29,4602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,4679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,4892,100.0,29.0,16.0,8.0,NaN,32.0,15.0,NaN,NaN
32,4917,100.0,NaN,NaN,42.0,8.0,50.0,NaN,NaN,NaN
33,4979,100.0,NaN,NaN,2.0,52.0,NaN,17.0,29.0,NaN
34,5147,100.0,48.0,NaN,NaN,NaN,19.0,5.0,28.0,NaN
35,5283,100.0,NaN,39.0,NaN,NaN,55.0,6.0,NaN,NaN
36,5393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,5622,100.0,NaN,NaN,NaN,5.0,NaN,NaN,95.0,NaN
38,5656,100.0,NaN,4.0,30.0,4.0,56.0,NaN,NaN,6.0
39,5950,100.0,NaN,NaN,30.0,14.0,NaN,23.0,28.0,5.0
40,6099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,6444,100.0,NaN,NaN,NaN,12.0,NaN,26.0,57.0,5.0
42,6743,100.0,4.0,1.0,NaN,33.0,NaN,38.0,2.0,22.0
43,7151,100.0,43.0,19.0,6.0,11.0,NaN,NaN,2.0,19.0
44,7209,100.0,NaN,31.0,5.0,NaN,NaN,49.0,3.0,12.0
45,7278,100.0,NaN,NaN,NaN,16.0,NaN,NaN,NaN,84.0
46,7367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,7637,100.0,21.0,NaN,35.0,NaN,32.0,NaN,12.0,NaN
48,7790,100.0,1.0,7.0,NaN,NaN,21.0,29.0,3.0,39.0
49,7833,100.0,NaN,NaN,NaN,36.0,NaN,NaN,64.0,NaN
50,8087,100.0,37.0,6.0,NaN,23.0,3.0,NaN,19.0,12.0
51,8147,100.0,6.0,40.0,8.0,2.0,NaN,NaN,44.0,NaN
52,8388,100.0,18.0,NaN,9.0,NaN,12.0,18.0,NaN,43.0
53,8571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,8860,100.0,50.0,3.0,29.0,2.0,NaN,12.0,4.0,NaN
55,9105,100.0,7.0,8.0,46.0,NaN,16.0,NaN,21.0,2.0
56,9118,100.0,NaN,3.0,32.0,1.0,35.0,24.0,5.0,0.0
57,9491,100.0,NaN,4.0,NaN,NaN,7.0,87.0,NaN,2.0
58,9518,100.0,15.0,2.0,52.0,NaN,8.0,NaN,NaN,23.0
59,9584,100.0,NaN,31.0,4.0,24.0,13.0,28.0,NaN,NaN
60,9819,100.0,NaN,9.0,63.0,NaN,2.0,1.0,11.0,14.0
61,9923,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,9997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,10262,100.0,NaN,5.0,42.0,1.0,NaN,20.0,7.0,25.0
64,10346,100.0,8.0,NaN,14.0,NaN,19.0,NaN,32.0,27.0
65,10510,100.0,41.0,6.0,NaN,13.0,NaN,3.0,37.0,NaN
66,10886,100.0,16.0,NaN,19.0,6.0,2.0,41.0,9.0,7.0
67,11132,100.0,NaN,NaN,6.0,4.0,34.0,30.0,20.0,6.0
68,11133,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,11257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,11276,100.0,14.0,NaN,NaN,23.0,10.0,21.0,32.0,NaN
71,11507,100.0,48.0,10.0,1.0,9.0,4.0,NaN,20.0,8.0
72,11817,100.0,NaN,25.0,NaN,50.0,20.0,NaN,5.0,NaN
73,11970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,12456,100.0,NaN,4.0,NaN,37.0,NaN,44.0,15.0,NaN
75,12583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,12592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,12779,100.0,23.0,65.0,NaN,NaN,NaN,NaN,5.0,7.0
78,12886,100.0,11.0,NaN,NaN,14.0,2.0,37.0,NaN,36.0
79,12906,100.0,35.0,6.0,17.0,23.0,NaN,6.0,13.0,NaN
80,12963,100.0,NaN,3.0,35.0,25.0,NaN,37.0,NaN,NaN
81,13039,100.0,33.0,NaN,NaN,NaN,51.0,NaN,NaN,16.0
82,13145,100.0,2.0,30.0,24.0,16.0,14.0,14.0,NaN,NaN
83,13174,100.0,41.0,23.0,6.0,28.0,1.0,NaN,NaN,1.0
84,13204,100.0,8.0,16.0,12.0,NaN,24.0,26.0,14.0,NaN
85,13475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,13904,100.0,NaN,3.0,NaN,NaN,43.0,NaN,NaN,54.0
87,13926,100.0,51.0,24.0,NaN,25.0,NaN,NaN,NaN,NaN
88,13966,100.0,6.0,NaN,8.0,16.0,70.0,NaN,NaN,NaN
89,14301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,14486,100.0,NaN,NaN,45.0,25.0,NaN,30.0,NaN,NaN
91,14818,100.0,18.0,2.0,10.0,28.0,NaN,NaN,NaN,42.0
92,15004,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0
93,15014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,15090,100.0,NaN,NaN,NaN,4.0,86.0,10.0,NaN,NaN
95,15108,100.0,15.0,12.0,NaN,11.0,40.0,NaN,6.0,16.0
96,15153,100.0,NaN,6.0,NaN,24.0,NaN,37.0,22.0,11.0
97,15295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,15674,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,15788,100.0,NaN,NaN,68.0,32.0,NaN,NaN,NaN,NaN
100,15896,100.0,34.0,22.0,NaN,NaN,19.0,1.0,12.0,12.0
101,15975,100.0,12.0,51.0,NaN,22.0,NaN,NaN,NaN,15.0

In [138]:
# dc.df[(dc.df.HQ3_1==1) | (dc.df.HQ3_2==2)]['CQ12_sum']
dc.safreq('CQ12_sum', cond=(dc.df.HQ3_1==1) | (dc.df.HQ3_2==2), only=100, with_cols=['HQ3_1', 'HQ3_2'] + [f'CQ10n{n}' for n in nz], err=True)

,record,err,only_err,CQ12_sum,HQ3_1,HQ3_2,CQ10n1,CQ10n2,CQ10n3,CQ10n4,CQ10n5,CQ10n6,CQ10n7,CQ10n8
68,11133,,chk,0.0,2,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [139]:
dc.safreq('CQ13')

## CQ13 MISSING CHECK
# All base
# No error
----------

In [140]:
dc.safreq('CQ14x1')
dc.safreq('CQ14x2')
dc.safreq('CQ14x3')

## CQ14x1 MISSING CHECK
# All base
# No error
----------


## CQ14x2 MISSING CHECK
# All base
# No error
----------


## CQ14x3 MISSING CHECK
# All base
# No error
----------

In [141]:
dc.safreq('CQ15x1')
dc.safreq('CQ15x2')
dc.safreq('CQ15x3')

## CQ15x1 MISSING CHECK
# All base
# No error
----------


## CQ15x2 MISSING CHECK
# All base
# No error
----------


## CQ15x3 MISSING CHECK
# All base
# No error
----------

In [142]:
dc.safreq('CQ16r1')
dc.safreq('CQ16r3')
dc.safreq('CQ16r6')
dc.safreq('CQ16r8')
dc.safreq('CQ16r12')

## CQ16r1 MISSING CHECK
# All base
# No error
----------


## CQ16r3 MISSING CHECK
# All base
# No error
----------


## CQ16r6 MISSING CHECK
# All base
# No error
----------


## CQ16r8 MISSING CHECK
# All base
# No error
----------


## CQ16r12 MISSING CHECK
# All base
# No error
----------

In [143]:
dc.safreq('CQ17r1')
dc.safreq('CQ17r2')

## CQ17r1 MISSING CHECK
# All base
# No error
----------


## CQ17r2 MISSING CHECK
# All base
# No error
----------

In [144]:
dc.safreq('CQ18')

## CQ18 MISSING CHECK
# All base
# No error
----------

In [145]:
dc.safreq('CQ19r1')
dc.safreq('CQ19r2')
dc.safreq('CQ19r3')

## CQ19r1 MISSING CHECK
# All base
# No error
----------


## CQ19r2 MISSING CHECK
# All base
# No error
----------


## CQ19r3 MISSING CHECK
# All base
# No error
----------

In [146]:
dc.safreq('CQ20r1')
dc.safreq('CQ20r2')
dc.safreq('CQ20r3')
dc.safreq('CQ20r4')
dc.safreq('CQ20r5')
dc.safreq('CQ20r6')

## CQ20r1 MISSING CHECK
# All base
# No error
----------


## CQ20r2 MISSING CHECK
# All base
# No error
----------


## CQ20r3 MISSING CHECK
# All base
# No error
----------


## CQ20r4 MISSING CHECK
# All base
# No error
----------


## CQ20r5 MISSING CHECK
# All base
# No error
----------


## CQ20r6 MISSING CHECK
# All base
# No error
----------

In [147]:
dc.mafreq(('DQ1r1', 'DQ1r9'))

## 'DQ1r1 - DQ1r9' Answer Check
# All base
# The atleast error check (atleast = 1)
----------

In [155]:
dc.safreq('DQ2r1', cond=dc.df.DQ1r1==1, only=range(1, 10))
dc.safreq('DQ2r2', cond=dc.df.DQ1r1==2, only=range(1, 10))

## DQ2r1 MISSING CHECK
# Condition
# No error
----------

## DQ2r1 ANSWER DATA CHECK
# Answer only in Range 1 THRU 10
# Only value check : No error
----------


## DQ2r2 MISSING CHECK
# Condition
▷ No response to this condition
▶ Error sample count : 31
## DQ2r2 ANSWER DATA CHECK
# Answer only in Range 1 THRU 10
# Only value check : No error
----------

In [166]:
dc.df['DQ2_sum'] = dc.df['DQ2r1'].fillna(0) + dc.df['DQ2r2'].fillna(0)
dc.df[['DQ2_sum', 'DQ2r1', 'DQ2r2']]

     DQ2_sum  DQ2r1  DQ2r2
0        0.0    NaN    NaN
1       10.0   10.0    NaN
2       10.0    NaN   10.0
3        0.0    NaN    NaN
4        4.0    4.0    NaN
5        0.0    NaN    NaN
6        3.0    NaN    3.0
7        0.0    NaN    NaN
8        0.0    NaN    NaN
9        0.0    NaN    NaN
10       6.0    6.0    NaN
11       5.0    NaN    5.0
12       0.0    NaN    NaN
13       1.0    1.0    NaN
14       3.0    NaN    3.0
15       6.0    6.0    NaN
16       0.0    NaN    NaN
17       0.0    NaN    NaN
18       4.0    NaN    4.0
19       4.0    NaN    4.0
20       0.0    NaN    NaN
21       1.0    NaN    1.0
22       6.0    6.0    NaN
23       0.0    NaN    NaN
24       6.0    2.0    4.0
25       0.0    NaN    NaN
26       0.0    NaN    NaN
27       0.0    NaN    NaN
28       4.0    NaN    4.0
29       2.0    2.0    NaN
30       9.0    9.0    NaN
31       0.0    NaN    NaN
32      10.0    NaN   10.0
33       9.0    NaN    9.0
34       8.0    8.0    NaN
35       0.0    NaN    NaN
36       0.0    NaN    NaN
37       1.0    NaN    1.0
38       6.0    6.0    NaN
39       5.0    3.0    2.0
40       9.0    7.0    2.0
41      10.0    NaN   10.0
42       5.0    5.0    NaN
43       7.0    7.0    NaN
44       3.0    NaN    3.0
45       0.0    NaN    NaN
46       0.0    NaN    NaN
47       0.0    NaN    NaN
48      10.0   10.0    NaN
49       9.0    9.0    NaN
50       5.0    2.0    3.0
51       0.0    NaN    NaN
52       1.0    1.0    NaN
53       0.0    NaN    NaN
54       3.0    3.0    NaN
55       4.0    NaN    4.0
56       3.0    3.0    NaN
57       9.0    NaN    9.0
58       2.0    2.0    NaN
59       7.0    NaN    7.0
60       0.0    NaN    NaN
61       0.0    NaN    NaN
62       6.0    6.0    NaN
63       0.0    NaN    NaN
64       4.0    NaN    4.0
65       7.0    6.0    1.0
66       1.0    1.0    NaN
67       0.0    NaN    NaN
68       0.0    NaN    NaN
69       0.0    NaN    NaN
70       0.0    NaN    NaN
71       0.0    NaN    NaN
72       0.0    NaN    NaN
73       3.0    NaN    3.0
74       0.0    NaN    NaN
75      11.0    9.0    2.0
76       2.0    NaN    2.0
77       6.0    6.0    NaN
78       0.0    NaN    NaN
79      10.0    6.0    4.0
80       4.0    4.0    NaN
81       0.0    NaN    NaN
82       4.0    4.0    NaN
83       0.0    NaN    NaN
84       4.0    NaN    4.0
85       5.0    NaN    5.0
86       0.0    NaN    NaN
87       4.0    4.0    NaN
88       0.0    NaN    NaN
89       6.0    6.0    NaN
90      10.0   10.0    NaN
91       1.0    1.0    NaN
92       9.0    NaN    9.0
93      11.0    9.0    2.0
94       0.0    NaN    NaN
95      10.0   10.0    NaN
96       1.0    1.0    NaN
97       0.0    NaN    NaN
98       0.0    NaN    NaN
99       0.0    NaN    NaN
100      0.0    NaN    NaN
101      7.0    NaN    7.0

In [168]:
dc.safreq('DQ3c1', cond=dc.df.DQ2_sum>=1, with_cols=['DQ2_sum'])

## DQ3c1 MISSING CHECK
# Condition
# No error
----------

In [169]:
dc.safreq('DQ3c2', cond=dc.df.DQ2_sum>=2)

## DQ3c2 MISSING CHECK
# Condition
# No error
----------

In [170]:
dc.safreq('DQ3c3', cond=dc.df.DQ2_sum>=3)

## DQ3c3 MISSING CHECK
# Condition
# No error
----------

In [171]:
dc.safreq('DQ3c4', cond=dc.df.DQ2_sum>=4)

## DQ3c4 MISSING CHECK
# Condition
# No error
----------

In [172]:
dc.safreq('DQ3c5', cond=dc.df.DQ2_sum>=5)

## DQ3c5 MISSING CHECK
# Condition
# No error
----------

In [175]:
#dc.safreq('HQ7', cond=(dc.df.DQ1r1==1) | (dc.df.DQ1r2==2), only=1, err=True)
dc.logchk((dc.df.DQ1r1==1) | (dc.df.DQ1r2==2), dc.df.HQ7==1)

## Puncing Logic Check
# Puching Logic correct
----------

In [178]:
#dc.safreq('HQ7', cond=~((dc.df.DQ1r1==1) | (dc.df.DQ1r2==2)), only=2)
dc.logchk(~((dc.df.DQ1r1==1) | (dc.df.DQ1r2==2)), dc.df.HQ7==2)

## Puncing Logic Check
# Puching Logic correct
----------

In [179]:
dc.safreq('DQ4')

## DQ4 MISSING CHECK
# All base
# No error
----------

In [180]:
dc.safreq('DQ5', cond=dc.df.SQ8r1==1)

## DQ5 MISSING CHECK
# Condition
# No error
----------

In [181]:
dc.safreq('DQ6')

## DQ6 MISSING CHECK
# All base
# No error
----------

In [182]:
dc.safreq('DQ7')

## DQ7 MISSING CHECK
# All base
# No error
----------

In [183]:
dc.safreq('DQ8', only=range(5, 100))

## DQ8 MISSING CHECK
# All base
# No error
----------

## DQ8 ANSWER DATA CHECK
# Answer only in Range 5 THRU 100
# Only value check : No error
----------