In [1]:
import DataCheck
import pandas as pd

file_name = '220806.xlsx'

raw = pd.read_excel(file_name)
dc = DataCheck.Ready(raw)

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
dc.safreq('SQ1')

## SQ1 MISSING CHECK
# All base
# No error
----------

In [3]:
dc.safreq('SQ2r1', only=range(1, 99))

## SQ2r1 MISSING CHECK
# All base
# No error
----------

## SQ2r1 ANSWER DATA CHECK
# Answer only in Range 1 THRU 99
# Only value check : No error
----------

In [4]:
dc.safreq('SQ2x1', only=[2, 3, 4, 5])

## SQ2x1 MISSING CHECK
# All base
# No error
----------

## SQ2x1 ANSWER DATA CHECK
# Answer only in List [2, 3, 4, 5]
# Only value check : No error
----------

In [5]:
ages = [2,3,4,5]
for age in ages :
    print(f"age code : {age}")
    dc.logchk(raw.SQ2r1.between(age*10, age*10+9), raw.SQ2x1==age, ['SQ2r1', 'SQ2x1'])

age code : 2
## Puncing Logic Check
# Puching Logic correct
----------


age code : 3
## Puncing Logic Check
# Puching Logic correct
----------


age code : 4
## Puncing Logic Check
# Puching Logic correct
----------


age code : 5
## Puncing Logic Check
# Puching Logic correct
----------

In [12]:
dc.safreq('SQ3x1r1c1')

## SQ3x1r1c1 MISSING CHECK
# All base
# No error
----------

In [13]:
dc.safreq('SQ3x2r1c1')

## SQ3x2r1c1 MISSING CHECK
# All base
# No error
----------

In [14]:
dc.safreq('SQ3x3r1c1')

## SQ3x3r1c1 MISSING CHECK
# All base
# No error
----------

In [18]:
#dc.df[['SQ3x1r1c1', 'SQ3x2r1c1', 'SQ3x3r1c1']]
dc.df['area_2'] = dc.df['SQ3x2r1c1']//100
dc.df['area_3'] = dc.df['SQ3x3r1c1']//10000
dc.df[['SQ3x1r1c1', 'area_2', 'area_3']]

    SQ3x1r1c1  area_2  area_3
0           1       1       1
1           3       3       3
2           2       2       2
3           5       5       5
4           9       9       9
5           4       4       4
6           9       9       9
7          12      12      12
8           3       3       3
9          10      10      10
10          1       1       1
11          9       9       9
12          1       1       1
13          3       3       3
14          7       7       7
15          5       5       5
16          1       1       1
17         16      16      16
18          9       9       9
19          2       2       2
20          2       2       2
21          1       1       1
22          9       9       9
23          1       1       1
24         15      15      15
25          9       9       9
26          9       9       9
27          9       9       9
28          2       2       2

In [19]:
dc.safreq('HQ1')

## HQ1 MISSING CHECK
# All base
# No error
----------

In [20]:
dc.df[['SQ3x1r1c1', 'SQ3x2r1c1', 'SQ3x3r1c1', 'HQ1']]

    SQ3x1r1c1  SQ3x2r1c1  SQ3x3r1c1  HQ1
0           1        106      10602    1
1           3        307      30717    1
2           2        203      20302    1
3           5        504      50448    1
4           9        902      90225    1
5           4        402      40219    1
6           9        911      91120    1
7          12       1217     121702    2
8           3        305      30513    1
9          10       1017     101704    2
10          1        101      10109    1
11          9        916      91606    1
12          1        104      10409    1
13          3        302      30205    1
14          7        705      70517    1
15          5        504      50436    1
16          1        120      12003    1
17         16       1612     161206    2
18          9        902      90225    1
19          2        202      20207    1
20          2        203      20301    1
21          1        115      11503    1
22          9        903      90311    1
23          1        118      11812    1
24         15       1501     150104    2
25          9        914      91401    1
26          9        902      90231    1
27          9        925      92503    1
28          2        205      20501    1

In [21]:
area = pd.read_excel('area.xlsx')
area.head()

       a  a_code    b  b_code    c  c_code  HQ1
0  서울특별시       1  강남구   101.0  개포동   10101    1
1  서울특별시       1  강남구   101.0  논현동   10102    1
2  서울특별시       1  강남구   101.0  대치동   10103    1
3  서울특별시       1  강남구   101.0  도곡동   10104    1
4  서울특별시       1  강남구   101.0  삼성동   10105    1

In [22]:
for idx in list(raw.index) :
    answer = raw.loc[idx, 'SQ3x3r1c1']
    hq1 = int(raw.loc[idx, 'HQ1'])
    lv = int(area.loc[area['c_code'] == int(answer), 'HQ1'])
    if not hq1 == lv :
        print(list(raw.loc[idx, ['record', 'uuid']]))

In [23]:
dc.safreq('A0')

## A0 MISSING CHECK
# All base
# No error
----------

In [25]:
dc.safreq('A0x1', raw.A0==2, ['A0'])

## A0x1 MISSING CHECK
# Condition
# No error
----------

In [26]:
dc.safreq('HQ2')

## HQ2 MISSING CHECK
# All base
# No error
----------

In [27]:
dc.logchk((raw.A0==1) | (((raw.A0==2) & (raw.A0x1==1))), raw.HQ2==1, ['A0', 'A0x1', 'HQ2'])

## Puncing Logic Check
# Puching Logic correct
----------

In [28]:
dc.logchk((raw.A0==2) & (raw.A0x1==2), raw.HQ2==2, ['A0', 'A0x1', 'HQ2'])

## Puncing Logic Check
# Puching Logic correct
----------

In [29]:
dc.safreq('A1')

## A1 MISSING CHECK
# All base
# No error
----------

In [30]:
dc.safreq('A2', raw.A1.isin([1, 2, 3]))

## A2 MISSING CHECK
# Condition
# No error
----------

In [31]:
dc.safreq('A3', raw.A2.isin([1,2,3,4,5]))

## A3 MISSING CHECK
# Condition
# No error
----------

In [32]:
dc.safreq('A4', raw.A3==1)

## A4 MISSING CHECK
# Condition
# No error
----------

In [33]:
dog_eat = raw.A2.isin([1,2,3,4,5]) # 개고기를 1년내 취식

In [34]:
dc.mafreq(('A5r1', 'A5r98'), dog_eat)

## 'A5r1 - A5r98' Answer Check
# Condition
# The atleast error check (atleast = 1)
----------

In [35]:
dc.mafreq(('A5x1r1', 'A5x1r98'), raw.A5r3==3)

## 'A5x1r1 - A5x1r98' Answer Check
# Condition
# The atleast error check (atleast = 1)
▷ No response to this condition
----------

In [36]:
dc.safreq('A5x2', dog_eat)

## A5x2 MISSING CHECK
# Condition
# No error
----------

In [37]:
dc.safreq('A6', dog_eat)

## A6 MISSING CHECK
# Condition
# No error
----------

In [38]:
dc.safreq('A7', dog_eat)

## A7 MISSING CHECK
# Condition
# No error
----------

In [39]:
dc.safreq('A8', dog_eat)

## A8 MISSING CHECK
# Condition
# No error
----------

In [40]:
dc.mafreq(('A9r1', 'A9r98'), dog_eat)

## 'A9r1 - A9r98' Answer Check
# Condition
# The atleast error check (atleast = 1)
----------

In [41]:
dc.safreq('A10')

## A10 MISSING CHECK
# All base
# No error
----------

In [42]:
dc.safreq('A11', raw.A10==1)

## A11 MISSING CHECK
# Condition
# No error
----------

In [43]:
dc.mafreq(('A12r1', 'A12r98'), raw.A11.isin([1,2,3,4,5]))

## 'A12r1 - A12r98' Answer Check
# Condition
# The atleast error check (atleast = 1)
▷ No response to this condition
----------

In [44]:
for i in range(1, 9+1) :
    dc.safreq(f'A13r{i}')

## A13r1 MISSING CHECK
# All base
# No error
----------


## A13r2 MISSING CHECK
# All base
# No error
----------


## A13r3 MISSING CHECK
# All base
# No error
----------


## A13r4 MISSING CHECK
# All base
# No error
----------


## A13r5 MISSING CHECK
# All base
# No error
----------


## A13r6 MISSING CHECK
# All base
# No error
----------


## A13r7 MISSING CHECK
# All base
# No error
----------


## A13r8 MISSING CHECK
# All base
# No error
----------


## A13r9 MISSING CHECK
# All base
# No error
----------

In [45]:
dc.safreq('A14')

## A14 MISSING CHECK
# All base
# No error
----------

In [46]:
dc.mafreq(('A14x1r1', 'A14x1r98'), raw.A14==1)

## 'A14x1r1 - A14x1r98' Answer Check
# Condition
# The atleast error check (atleast = 1)
----------

In [47]:
dc.safreq('A15', raw.A14==1)

## A15 MISSING CHECK
# Condition
# No error
----------

In [48]:
for i in range(1, 4+1) :
    dc.safreq(f'A16r{i}')

## A16r1 MISSING CHECK
# All base
# No error
----------


## A16r2 MISSING CHECK
# All base
# No error
----------


## A16r3 MISSING CHECK
# All base
# No error
----------


## A16r4 MISSING CHECK
# All base
# No error
----------

In [49]:
dc.safreq('A17')

## A17 MISSING CHECK
# All base
# No error
----------

In [50]:
dc.safreq('A17x1')

## A17x1 MISSING CHECK
# All base
# No error
----------

In [51]:
dc.safreq('A18')

## A18 MISSING CHECK
# All base
# No error
----------

In [53]:
dc.mafreq(('A18x1r1', 'A18x1r98'), raw.A18==1)

## 'A18x1r1 - A18x1r98' Answer Check
# Condition
# The atleast error check (atleast = 1)
----------

In [54]:
dc.mafreq(('A18x2r1', 'A18x2r98'), raw.A18==2)

## 'A18x2r1 - A18x2r98' Answer Check
# Condition
# The atleast error check (atleast = 1)
----------

In [55]:
dc.mafreq(('A19r1', 'A19r99'))

## 'A19r1 - A19r99' Answer Check
# All base
# The atleast error check (atleast = 1)
----------

In [57]:
dc.mafreq(('A20r1', 'A20r98'), (raw.HQ2==1) & (raw.A1==1), ['HQ2', 'A1'], df=True)

    record  count err  A20r1  A20r2  A20r3  A20r4  A20r98  HQ2  A1
5       16    1.0        0.0    0.0    0.0    4.0     0.0    1   1
12      27    1.0        1.0    0.0    0.0    0.0     0.0    1   1

In [58]:
dc.safreq('A21')

## A21 MISSING CHECK
# All base
# No error
----------

In [59]:
dc.safreq('A22')

## A22 MISSING CHECK
# All base
# No error
----------

In [60]:
dc.safreq('A23')

## A23 MISSING CHECK
# All base
# No error
----------

In [61]:
dc.safreq('A24')

## A24 MISSING CHECK
# All base
# No error
----------

In [62]:
dc.safreq('A25')

## A25 MISSING CHECK
# All base
# No error
----------

In [63]:
dc.safreq('B1')

## B1 MISSING CHECK
# All base
# No error
----------

In [65]:
dc.safreq('B2r1', raw.B1.isin([2,5]), ['B1'])
dc.safreq('B2r2', raw.B1.isin([2,5]), ['B1'])

## B2r1 MISSING CHECK
# Condition
# No error
----------


## B2r2 MISSING CHECK
# Condition
# No error
----------

In [66]:
dc.safreq('B4', raw.A1.isin([1, 2, 3]), ['A1'])

## B4 MISSING CHECK
# Condition
# No error
----------

In [67]:
dc.mafreq(('B5r1', 'B5r98'), raw.B4==1, ['B4'])

## 'B5r1 - B5r98' Answer Check
# Condition
# The atleast error check (atleast = 1)
▷ No response to this condition
----------

In [68]:
dc.freq('B4')

2.0    6
3.0    5
4.0    1
5.0    1
Name: B4, dtype: int64

In [69]:
dc.safreq('C1')

## C1 MISSING CHECK
# All base
# No error
----------

In [70]:
dc.mafreq(('C1x1r1', 'C1x1r98'), raw.C1==1, ['C1'])

## 'C1x1r1 - C1x1r98' Answer Check
# Condition
# The atleast error check (atleast = 1)
----------

In [71]:
dc.mafreq(('C1x2r1', 'C1x2r98'), raw.C1==1)

## 'C1x2r1 - C1x2r98' Answer Check
# Condition
# The atleast error check (atleast = 1)
----------

In [72]:
dc.safreq('C1x3')

## C1x3 MISSING CHECK
# All base
# No error
----------

In [73]:
dc.safreq('C2')

## C2 MISSING CHECK
# All base
# No error
----------

In [79]:
dc.safreq('C2x1r1', (raw.C2==1) & (raw.noanswerC2x1_r99==0))

## C2x1r1 MISSING CHECK
# Condition
▷ No response to this condition
# No error
----------

In [80]:
dc.safreq('C2x1r2', (raw.C2==1) & (raw.noanswerC2x1_r99==0))

## C2x1r2 MISSING CHECK
# Condition
▷ No response to this condition
# No error
----------

In [81]:
dc.safreq('C3')

## C3 MISSING CHECK
# All base
# No error
----------

In [83]:
dc.safreq('C3x1r1', (raw.C3==1) & (raw.noanswerC3x1_r99!=1), ['noanswerC3x1_r99'])

## C3x1r1 MISSING CHECK
# Condition
▷ No response to this condition
# No error
----------

In [84]:
dc.safreq('C3x1r2', (raw.C3==1) & (raw.noanswerC3x1_r99!=1), ['noanswerC3x1_r99'])

## C3x1r2 MISSING CHECK
# Condition
▷ No response to this condition
# No error
----------

In [85]:
dc.safreq('C4')

## C4 MISSING CHECK
# All base
# No error
----------

In [86]:
dc.safreq('D1')

## D1 MISSING CHECK
# All base
# No error
----------

In [87]:
dc.safreq('D2')

## D2 MISSING CHECK
# All base
# No error
----------

In [88]:
dc.safreq('D3')

## D3 MISSING CHECK
# All base
# No error
----------

In [89]:
dc.safreq('D4')

## D4 MISSING CHECK
# All base
# No error
----------

In [90]:
dc.safreq('D5')

## D5 MISSING CHECK
# All base
# No error
----------

In [91]:
dc.safreq('D6', only=[1,2,3,98])
dc.freq('D6')

## D6 MISSING CHECK
# All base
# No error
----------

## D6 ANSWER DATA CHECK
# Answer only in List [1, 2, 3, 98]
# Only value check : No error
----------


2     16
1      9
98     4
Name: D6, dtype: int64

In [92]:
dc.safreq('D7')

## D7 MISSING CHECK
# All base
# No error
----------